:root {
    --header-color: #2F303A;
    --title-color: #212121;
    --text-color: #757575;
    --blue-text-color: #2196F3;
    --background-color: #F5F4FA;
    --secondary-color: #ffffff;
}

body {
    font-family: Roboto, Tahomo, sans-serif;
    color: var(--text-color);
}

p, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    margin: 0;
}

ul,
ol {
    padding-left: 0;
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover,
.link:focus {
    color: var(--blue-text-color);
}
.link_logo {
    text-decoration: none;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
/* ---------------------header------------------------- */

.header {
    border-bottom: 1px solid #ECECEC;
}
.header_nav {
    display: flex;
    align-items: center;
}
.navigation, .contact_link {
    background-color: var(--secondary-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
}

.logo_title {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-right: 93px;
    
}

.logo_title, .footer_logo {
    font-family: Raleway, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
 
}

.logo_title, .nav_link {
    color: var(--title-color);
}
.logo {
    color: var(--blue-text-color);
}
.icon_contact {
    fill: currentColor;
    margin-right: 10px;
    vertical-align: middle;
}

.link_active{
    color: var(--blue-text-color);
}

.link_studio {
    position: relative;
}
.link_studio::after {
    content: "";
    width: 48px;
    height: 4px;
    background-color: var(--blue-text-color);
    display: block;
    position: absolute;
    bottom: 0;
}
.contact_link {
    color: var(--text-color);


}
.nav_list {
    display: flex;
}
.nav_item:not(:last-child) {
    margin-right: 50px;
}
.nav_link, .contact_link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  } 
.header_contact {
    margin-left: auto;
}
.contact_list {
    display: flex;
    align-items: center;
    
}


.contact_item:not(:last-child) {
    margin-right: 50px; 
}

.link_portfolio {
    position: relative;
}
.link_portfolio::after {
    content: "";
    width: 78px;
    height: 4px;
    background-color: var(--blue-text-color);
    display: block;
    position: absolute;
    bottom: 0;
}

/* ---------------------hero------------------------- */

.hero {
    background-color: var(--header-color);
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    margin: 0 auto;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ),
    url(../img/overlay.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero_title {
    margin-bottom: 30px;
    margin-left: 237px;
    margin-right: auto;
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--secondary-color);
    
}
.hero_btn, .footer_btn, .modal_btn {
    display: block;
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--blue-text-color);
    color: var(--secondary-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25); 
    border: none;
    border-radius: 4px;
}
.hero_btn {
    margin: 0 auto;
    padding: 10px 32px;
}

/* --------------------features------------------------ */
.features {
    padding-bottom: 0;
}

.icon_features {
    width: 70px;
    height: 70px;
   
    
    
}
.icon_container {
    background-color: var(--background-color);
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.features_title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
    margin-bottom: 10px;
}    

.features_text, .footer_nav {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.features_list {
    display: flex;
}

.features_item {
    width: 270px;
}

.features_item:not(:last-child) {
    margin-right: 30px;
}
/* --------------------works-team ----------------------- */

.works_title, .team_title, .client_title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--title-color);
}
.works_title {
    margin-bottom: 50px;
    text-align: center;
}
.works_list {
    display: flex;
}
.works_item:not(:last-child) {
    margin-right: 30px;
}
.works_cards {
    position: relative;
}
.work_text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8); ;
    color: var(--secondary-color);
    width: 370px;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
   
}



.team {
    background-color: var(--background-color);
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.team_title {
    margin-bottom: 50px;
    text-align: center;
}
.team_list {
    display: flex;
}
.team_item {
    background-color: var(--secondary-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}    

.team_item:not(:last-child) {
    margin-right: 30px;
}

.team_name {
    font-weight: 500;
    color: var(--title-color);
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}
.team_text {
    text-align: center;
    margin-bottom: 16px;
}

.soc_list {
    display: flex;
    justify-content: center;
}
.soc_item + .soc_item {
    margin-left: 10px;
    margin-bottom: 30px;
}
.soc_link {
    width: 44px;
    height: 44px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #AFB1B8;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc_link:hover, .soc_link:focus {
    background-color: var(--blue-text-color);
    fill: var(--secondary-color);
}

.icon_soc {
    width: 20px;
    height: 20px;
}

/* ----------------------client----------------------- */

.client {
    padding-bottom: 102px;
}

.client_title {
    margin-bottom: 50px;
    text-align: center;
}

.client_list {
    display: flex;
    justify-content: center;
}

.client_item + .client_item {
    margin-left: 30px;
    }

.client_link {
    width: 170px;
    height: 92px;
    background-color: var(--secondary-color);
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client_link:hover,
.client_link:focus {
    fill: var(--blue-text-color);
    border: 1px solid var(--blue-text-color);
}
.client_icon {
    width: 106px;
    height: 60px;
}


/* --------------------footer----------------------- */
.footer_contact{
    font-style: normal;
}

.footer_nav {
    background-color: var(--header-color);
    color: var(--secondary-color);
    
 }
.footer_adress {
    padding-top: 60px;
    padding-bottom: 60px;
}
 .footer {
     display: flex;
     
 }
 .footer_soc {
    margin-left: 70px;
    padding-top: 72px;
    padding-bottom: 100px;
 }
.footer_logo {
    display: block;
    color: var(--secondary-color);
    margin-bottom: 20px;
}

.footer_link {
    color: rgba(255, 255, 255, 0.6);
    margin-top: 9px;
}
.footer_contact{
    display: flex;
    flex-flow: column wrap;
    }

.footer_soc_title, .form_title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-color);
    margin-bottom: 20px;

}    
.footer_list {
    display: flex;
    
}

.footer_soc_item + .footer_soc_item {
    margin-left: 10px;
    
}

.footer_soc_link {
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--secondary-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer_soc_link:hover,
.footer_soc_link:focus {
    background-color: var(--blue-text-color);
    fill: var(--secondary-color);
}

.footer_icon_soc {
    width: 20px;
    height: 20px;
}

.footer_form {
    margin-left: 93px; 
    margin-top: 72px;

}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_input {
    width: 358px;
    height: 50px;
    background-color: var(--header-color);
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    margin-right: 12px;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 16px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
}

.footer_icon_btn {
    width: 24px;
    height: 24px;
    position: absolute;
    margin-left: 10px;

}
.footer_btn {
    padding: 10px 62px 10px 29px;
}
/* --------------------portfolio-------------------- */
.filter_list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.filter_item:not(:last-child) {
    margin-right: 8px;
}
.filter_btn {
    cursor: pointer;
    padding: 6px 22px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    background-color: var(--background-color);
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter_btn:hover,
.filter_btn:focus {
    background-color: var(--blue-text-color);
    color: var(--secondary-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    
}


/* --------------------galerie-------------------- */
.galerie {
    padding-top: 94px;
    padding-bottom: 94px;
}

.galerie_list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}
.galerie_item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 90px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.galerie_item:hover,
.galerie_item:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}
.galerie_title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
}

.galerie_text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--text-color); 
}

.text_card {
    padding: 20px 24px;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}

.galerie_wrap {
    position: relative;
    overflow: hidden;  
}

.galerie_cover_text {
    position: absolute;
    top: 0;
    background-color: rgba(33, 150, 243, 0.9);
    color: var(--secondary-color);
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em; 
    padding: 63px 24px;
    height: 100% - 1px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    overflow: auto;
}

.galerie_item:hover .galerie_cover_text,
.galerie_item:focus .galerie_cover_text {
    transform: translateY(0%);
}

/* -------------backdrop------------------------------ */


.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 500ms, visibility 500ms;
   
}

.backdrop.is_hidden .modal {
    transform: scale(1) translateY(0) ;
    transition: transform 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
}  

.modal {
    width: 528px;
    min-height: 581px;
    background-color: var(--secondary-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: transform 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
    transform: translate(-50%, -50%) rotate(0);
    padding: 40px;
    
}

 .icon_close {
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: auto;
} 
.modal_close_btn {
    border-radius: 50%; 
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    align-items: center;
    text-align: center;
    padding: 0;
}
.is_hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal_field {
    margin-bottom: 10px;
}
.modal_title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 11px;
}

.modal_input {
    width: 100%;
    height: 40px;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    margin-top: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.modal_input:hover,
.modal_input:focus {
    border: 1px solid var(--blue-text-color);
}

.modal_input:hover + .modal_icon,
.modal_input:focus + .modal_icon {
    fill: var(--blue-text-color);
}

.modal_input_wrap {
    position: relative;
}
.modal_label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--text-color);
    
}

.modal_icon {

    width: 18px;
    height: 18px;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%); 
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal_coment {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    resize: none;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-top: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_coment:hover,
.modal_coment:focus {
    border: 1px solid var(--blue-text-color);
}

textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.modal_textarea {
    margin-bottom: 20px;
}

.policy {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-bottom: 30px;
    position: relative;
}

.policy::before {
    content: " ";
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    box-shadow: linear-gradient(0deg, rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2)) linear-gradient(0deg, rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2));
    margin-right: 9px;
    border-radius: 2px;
    
  
} 

.policy_link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--blue-text-color);

}

.input_check:checked + .policy::before {
    background-color: var(--blue-text-color);
    background-origin: border-box;
    border: var(--blue-text-color);
    background-image: url(../img/check.svg);
    background-repeat: no-repeat;
    background-position: center; 
  
}

 
.input_check:focus + .policy::before {
    border-color: var(--blue-text-color);
} 


.modal_btn {
    padding: 10px 55px;
    margin: 0 auto;
}